/* common css */

body{
    font-family: Merriweather;
    min-height: 100vh;
    max-width: 1320px;
    margin: 0 auto;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
  }
  p{
    line-height: 30px;
    color: #6a6771;
  }
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
  }
  section { 
    display: block;
    padding: 40px 0;
  }

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  
.text-primary{
    color: #FF0000;
}
.btn-primary{
    border-radius: 10px;
    background-color: #FF0000;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-light{
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 400;
}
.button {
    border: none;
    color: #000000;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
/* banner css */
.banner{
    background-image: url('../resources/banner-image.png'), linear-gradient(rgba(7,2,17,0),rgba(7,2,17,0)); 
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: contain;
    /* background-size: auto auto; */
    border-radius: 16px;
    max-height: 600px;
    background-color: rgba(0,0,0,0.5);
    /* margin: 40px; */
}
.banner-text{
    color: #ffffff;
    text-align: center;
    padding: 70px 0;
}
.banner-text h6{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.banner-text h1{
    font-size: 72px;
    margin-top: 10px;
}

/* Sale/ Offer css */

.offer-section{
    text-align: center;
}
.offer-section h1{
    font-family: sans-serif;
    font-weight: 400;
    margin: 0 0 20px;
}
.offer-section h3{
    font-family: sans-serif;
    font-size: 48px;
    margin: 10px 0 30px
}
.sale-amount{
    font-size: 88px;
    margin: 80px 0 50px;
    font-family: sans-serif;
}

/* Midnight Party Banner */
.midnight-banner{
    background-image: url('../resources/midnight.png'), linear-gradient(rgba(7,2,17,1),rgba(7,2,17,.2)); 
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: contain;
    /* background-size: auto auto; */
    border-radius: 16px;
    max-height: 600px;
    background-color: rgba(0,0,0,0.5);
    /* margin: 40px; */
}
.midnight-banner-text {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
    color: #ffffff;
    h1{
        font-size: 64px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    p{
        padding: 30px 0;
        font-family: sans-serif;
        color: #ffffff;
    }
}
.portfolio h3{
    font-family: sans-serif;
    margin-bottom: 0;
    font-weight: 400;
}
.portfolio h1{
    font-size: 48px;
    margin: 10px 0;
}
.portfolio p{
    color: #828282;
    margin-bottom: 30px;
}
.img-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
  }
  .img-container:hover .img-hover {
    opacity: 0.3;
  }
  
/* CTA Css */
.cta-background-color{
    background-color:#fff2f2;
    border-radius: 16px;
}
.cta-text{
    text-align: center;
    h1{
        font-size: 48px;
    }
}
::placeholder {
    color: #e3e3e4;
    opacity: 1; /* Firefox */
  }
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #e3e3e4;
  } 
input[type=email] {
    width: 448px;
    height: 72px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff;
    border-radius: 500px 0 0 500px;
  }
  .button {
    height: 72px;
    width: 200px;
    background-color: #ff0000;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
  }
  
  /* footer */
  footer {
    background-color: #020211;
    width: 100%;
    min-height: 5%;
    position: absolute;
    margin: 30px 0 0 -60px;
    padding: 85px;
    color: white;
    font-size: 24px;
    .footer-text p{
        line-height: 35px;
        color: #ffffff;
        
    }
    .contacts p{
        text-align-last: right;
        color: #ffffff;
    }
    .social{
        text-align: center;
        padding: 35px 0;
    }
  }

hr{
    height: 1px;
    background-color: #2b2b2b;
    border: none;
}

/* Best offer */
.ellipse{
    border: 15px solid red;
    border-radius: 50%;
    padding: 35px;
}